<p>
  patient-detail works!
</p>

<mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar class="example-header-image" src="assets/female.jpeg"/>
      <mat-card-title>{{patient.firstName}} {{patient.lastName}} ({{patient.id}})</mat-card-title>
      <mat-card-subtitle>{{patient.insuranceName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div><strong>Insurance Id</strong> {{patient.insuranceId}}</div>
      <div><strong>Email</strong> {{patient.email}}</div>
      <div><strong>Phone</strong> {{patient.phone}}</div>
      <div><strong>Registration Notes</strong> {{patient.regComment}}</div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>CHECK-IN</button>
      <button mat-button>UPDATE</button>
    </mat-card-actions>
  </mat-card>