<!--The content below is only a placeholder and can be replaced.-->
<ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="patient/12345">Patient Page</a></li>
</ul>
  
<router-outlet></router-outlet>
